body {
    background-color: none;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(304deg,#4eae3d,#f9befb,#cffda8);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.container {
    background-color: none;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 24px;
    color: #333;
}

.login-form p {
    font-size: 16px;
    color: #777;
}

.login-form i {
    font-size: 40px;
}

.signup-form p {
    font-size: 16px;
    color: #777;
}

.signup-form i {
    font-size: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group input:hover {
    background-color: #e0e0e0;
}

button {
    background-color: rgba(173,216,230, 0.3);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    border-radius: 8px;
    width: 250px;
    opacity: 80%;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
